<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>SignUp</h1>
                    <h6>Please Enter Name Email & Password</h6>
                </div>
                <form>
                    <form [formGroup]="userForm" (ngSubmit)="userSubmit()">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Name</label>
                            <input type="text" class="form-control" formControlName="name" placeholder="Enter Name">
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="text" class="form-control" formControlName="email" placeholder="Enter Email">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="text" class="form-control" formControlName="password" placeholder="Enter Password">
                        </div>
                            <button type="submit" class="btn btn-primary mb-2" *ngIf="!getparamid" (click)="userSubmit()">Signup</button>
                      </form>
                      <a style="color: #fff; margin-top:10px" routerLink="/login">Already Registered? Click to Login</a>
                </form>
            </div>
        </div>
    </div>
</div>
